* {
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

header {
    text-align: center;
    margin-top: 20px;
}

header span {
    color: rgb(244, 173, 229);
}

main {
    margin: 10px 20px;
}

p {
    margin: 10px 0 20px 0;
    color: rgb(244, 173, 229);
}

.conjunto {
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: space-between;
    max-width: 390px;
}

input {
    border-radius: 5px;
    border: 1px solid black;
    height: 2rem;
    padding: 0 10px;
    align-self: center;
}

button {
    background-color: rgb(244, 173, 229);
    color: white;
    width: 6rem;
    height: 2rem;
    margin: 0 0 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.resultado {
    display: flex;
    align-items: center;
    color: black;
    margin: 10px 0 20px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 5px;
    min-height: 2rem;
    height: fit-content;
    min-width: 200px;
    width: fit-content;
}
body{
    background-color: rgba(241, 158, 230, 0.281);
}